# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
package-lock.json

# backend
backend/Data_to_consider/
backend/References/
backend/TEST_Project/
backend/.ipynb_checkpoints/
backend/.vscode/
backend/__pycache__/
backend/New Plant Diseases Dataset(Augmented)/
backend/Docs/