.font-merriweather {
    font-family: 'Merriweather', serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-quicksand {
    font-family: 'Varela Round', sans-serif;
}

nav a.active{
    color: yellow;
}